<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>489631458374-7jl8bs2r2g1td3n11igb5abfs9sd1sq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489631458374-7jl8bs2r2g1td3n11igb5abfs9sd1sq1</string>
	<key>API_KEY</key>
	<string>AIzaSyCD10hLFAVq2o-IhavZ6GfeYC95GQ281dg</string>
	<key>GCM_SENDER_ID</key>
	<string>489631458374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nyc.c4q.AC3-2-Final</string>
	<key>PROJECT_ID</key>
	<string>jason-project-65494</string>
	<key>STORAGE_BUCKET</key>
	<string>jason-project-65494.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:489631458374:ios:24de189c057b7720</string>
	<key>DATABASE_URL</key>
	<string>https://jason-project-65494.firebaseio.com</string>
</dict>
</plist>